.App {
    margin: 20px 40px;
}

h1 {
    text-align: center;
    padding-bottom: 30px;
}

.item {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.item:not(:last-child) {
    margin-bottom: 20px;
}

.company-logo {
    width: 80px;
    float: right;
}
